[submodule "Toolchain/gap_sdk"]
	path = Toolchain/gap_sdk
	url = https://github.com/GreenWaves-Technologies/gap_sdk
	ignore = all
[submodule "Toolchain/etl"]
	path = Toolchain/etl
	url = https://github.com/ETLCPP/etl.git
[submodule "Toolchain/tflite-micro"]
	path = Toolchain/tflite-micro
	url = https://github.com/aurxenon/tflite-micro.git
